@model ADAF_District_license

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-info">
    <div class="card-header">
        <div class="row">
            <h3 class="card-title">التحقيقات</h3>
        </div>
    </div>
    <hr />
    <form asp-action="Create" enctype="multipart/form-data">

        <div class="row">
            <div class="col-md-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="branch_id" class="control-label"></label>
                    <select asp-for="branch_id" class="form-control" asp-items="ViewBag.branch_id"></select>
                </div>
                <div class="form-group">
                    <label asp-for="district_license_type_id" class="control-label"></label>
                    <input asp-for="district_license_type_id" class="form-control" />
                    <span asp-validation-for="district_license_type_id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="license_start" class="control-label"></label>
                    <input asp-for="license_start" class="form-control" />
                    <span asp-validation-for="license_start" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="license_end" class="control-label"></label>
                    <input asp-for="license_end" class="form-control" />
                    <span asp-validation-for="license_end" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="district_name" class="control-label"></label>
                    <input asp-for="district_name" class="form-control" />
                    <span asp-validation-for="district_name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="district_img" class="control-label"></label>
                    <input type="file" id="files" asp-for="district_img" class="form-control" />
                    <span asp-validation-for="district_img" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="license_notes" class="control-label"></label>
                    <input asp-for="license_notes" class="form-control" />
                    <span asp-validation-for="license_notes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-info" />
                </div>
            </div>
            </div>
    </form>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
