@model Permission_pages

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>حذف الصلاحيات</h1>

<h3>سيتم حذف صلاحية الموظفين داخل هذه المجموعة</h3>
<div>
    
    <hr />
     
    <form asp-action="Delete">
        <input type="hidden" asp-for="permission_id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
